@import "./pagination/pagination.component";
@import "./characters/characters.component";

.disabled{
  pointer-events: none;
  opacity: .4;
}
.main-container {
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;

  .main-header {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Arial;
    font-size: 20px;
    margin: 20px 0;
  }

}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 5%;
    text-align: center;
    font-size: 1rem;
  }
}
